@{
    ViewBag.Title = "About";
}

<link href="~/Content/RecipeCss.css" rel="stylesheet" />

<div class="commonDiv">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Дополнительная информация о сайте.</p>
 </div>
