@model IEnumerable<BLL.DTO.RecipeDTO>
@{
    ViewBag.Title = "Home Page";
}


@*<img src="~/Content/flat,1000x1000,075,f.u5.jpg" style="width:300px;height:300px" />*@

@*@foreach (string country in ViewBag.Recipes)
{
    <p>@country</p>
}*@
<div>
    @foreach (var item in Model)
    {
    <h1 class="recipeName">@Html.ActionLink(item.Name, "Recipe", "Home", new { area = "" }, new { @class = "navbar-brand" })</h1>
        <div style="display: -webkit-box;">
            <img style="width: 300px; height: 359px;" src=@Html.DisplayFor(modelItem => item.ImageHref) />
            <div style="font-size:18px;line-height:22px;margin-bottom:6px">
                <div style="font-size: 18px;line-height: 22px; margin-bottom: 6px; margin-left: 47px;">
                    <div class="title">Ингредиенты</div>
                    <div class="count"><span class="yield">около 750 г. теста</span></div>
                    <div class="ingredient"><span class="value">400</span> <span class="type">г.</span> <span class="name">пшеничной муки</span></div>
                    <div class="ingredient"><span class="value">250</span> <span class="type">мл.</span> <span class="name">молока</span></div>
                    <div class="ingredient"><span class="value">50</span> <span class="type">г.</span> <span class="name">сливочного <a href="https://arborio.ru/na-kakom-masle-zharit/" class="kblinker" title="More about масла »">масла</a></span></div>
                    <div class="ingredient"><span class="value">5</span> <span class="type">г.</span> <span class="name">дрожжей</span></div>
                    <div class="ingredient"><span class="amount">1</span> <span class="name">куриное яйцо</span></div>
                    <div class="ingredient"><span class="value">1</span> <span class="type">ст.л.</span> <span class="name">сахара</span></div>
                    <div class="ingredient"><span class="value">1</span> <span class="type">ч.л.</span> <span class="name">соли</span></div>

                </div>
            </div>
        </div>
    }
</div>
