@model BLL.DTO.RecipeDTO


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script>
<link href="~/Content/RecipeCss.css" rel="stylesheet" />

<div class="container" @*style="position: absolute;"*@>
    <div class="ratings" id="rating" style="display:flex;font-size: 23px;">

        @for (int i = 1; i <= Convert.ToInt32(Math.Round(Model.Rank)); i++)
        {

            <div>@Ajax.ActionLink(" ", "SetRankByUser", new { recipeId = Model.RecipeId, recipeRank = i }, new AjaxOptions { UpdateTargetId = "rating", OnSuccess = "succesRanked", OnFailure = "failerToRank", HttpMethod = "GET" }, new { @class = "glyphicon glyphicon-star", @style = "color:#6f7dde" })</div>
        }

        @for (int i = Convert.ToInt32(Math.Round(Model.Rank)); i < 10; i++)
        {
            <div>@Ajax.ActionLink(" ", "SetRankByUser", new { recipeId = Model.RecipeId, recipeRank = i }, new AjaxOptions { UpdateTargetId = "rating", OnSuccess = "succesRanked", OnFailure = "failerToRank", HttpMethod = "GET" }, new { @class = "glyphicon glyphicon-star-empty", @style = "color:#6f7dde" })</div>
        }
    </div>
    <div id="renkStatusForUser">
        
    </div>
</div>

<script>
    function succesRanked(data) {
        var elem = document.getElementById("renkStatusForUser").innerHTML ="<p>Успешно проголосовано!</p>";
    }

    function failerToRank(errorData) {
        var elem = document.getElementById("renkStatusForUser").innerHTML ="<p>Вы уже проголосовали.</p>";
    }
</script>