@model BLL.DTO.RecipeDTO


<div class="container">
    <div class="ratings" style="display:flex">
        @for (int i = 0; i < int.Parse(Model.Rating.ToString()); i++)
        {
            <div>@Ajax.ActionLink(" ", "SetRankByUser", new { recipId = Model.RecipeId, recipeRank = i }, new AjaxOptions { UpdateTargetId = Model.Rating.ToString(), InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "glyphicon glyphicon-star", @style = "color:#6f7dde" })</div>
        }

        @for (int i = int.Parse(Model.Rating.ToString()); i < 10; i++)
        {
            <div>@Ajax.ActionLink(" ", "SetRankByUser", new { recipId = Model.RecipeId, recipeRank = i }, new AjaxOptions { UpdateTargetId = Model.Rating.ToString(), InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "glyphicon glyphicon-star-empty", @style = "color:#6f7dde" })</div>
        }
    </div>
</div>