@model BLL.DTO.RecipeDTO
@{
    ViewBag.Title = "Recipe";
}
<div class="recipe">
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <img src="@Html.DisplayFor(model => model.ImageHref)" />
    <input type="submit" value="Add recipe" />
   <div>
       <p>@Html.DisplayFor(model => model.ImageHref)</p>
   </div>
    <div class="ingredients">
        

    </div>
        <div class="description">
            <p>
                Если вы делаете первые шаги в области приготовления стейков, рекомендую даже не смотреть в сторону скерта, фланка, онглета и прочей альтернативы. Да, возможно, ее цена кажется вам куда более привлекательной (скорее всего, так и есть), но чтобы приготовить такие стейки, нужен какой-никакой опыт, приобрести который проще всего, если вы будете жарить старый добрый рибай или стриплойн: их еще и испортить сложнее, а удачный результат наверняка прибавит вам веры в собственные силы.Если вы делаете первые шаги в области приготовления стейков, рекомендую даже не смотреть в сторону скерта, фланка, онглета и прочей альтернативы. Да, возможно, ее цена кажется вам куда более привлекательной (скорее всего, так и есть), но чтобы приготовить такие стейки, нужен какой-никакой опыт, приобрести который проще всего, если вы будете жарить старый добрый рибай или стриплойн: их еще и испортить сложнее, а удачный результат наверняка прибавит вам веры в собственные силы.Итак, достаньте из упаковки или отрежьте от большого отруба два рибая или стриплойна толщиной около 2,5 см, щедро посолите их с обеих сторон и оставьте в покое минут на 30-40. Вы наверняка не раз слышали о том, что солить стейки до жарки ни в коем случае нельзя. Если вам интересно, почему это, мягко говоря, не так, начните с изучения статей Когда солить стейк и 7 популярных мифов о стейках, или просто доверьтесь мне — не пожалеете.Поставьте сковороду на огонь, дайте ей нагреться и добавьте немного растительного масла без запаха. Перед жаркой промакните стейки бумажным полотенцем.Добавьте стейки на сковороду и жарьте их на огне чуть выше среднего в течение 3,5 минут. Добавьте на сковороду кусочек сливочного масла, несколько веточек тимьяна и пару зубчиков чеснока, раздавленных ножом, переверните стейки и, зачерпывая ложкой горячее масло, которое пропиталось ароматами тимьяна и чеснока, начните поливать им стейки. Жарьте их еще порядка 2,5 минут, после чего снимите с огня и переложите в теплое место (например, в форму для запекания). Выложите на каждый из стейков по кусочку сливочного масла и накройте форму крышкой или листом фольги, дав мясу отдохнуть еще около 4 минут.Несмотря на то, что со временем вы научитесь более-менее точно определять прожарку стейка на глаз, единственным способом гарантированно определить степень прожарки вашего стейка является термометр для мяса. Если у вас есть желание готовить стейки регулярно, обзаведитесь таким, и как можно скорее.Добавьте стейки на сковороду и жарьте их на огне выше среднего в течение 3-4 минут, переворачивая каждые 20 секунд. Подробнее этот способ описан в заметке Еще один способ приготовить стейк, если вкратце — так получается быстрее и вкуснее. Примерно на полпути добавьте на сковороду кусочек сливочного масла, тимьян и чеснок, и в промежутках между переворачиванием поливайте стейки, как описано выше. Когда стейки будут готовы, переложите их в форму для запекания, выложите на каждый по кусочку сливочного масла, накройте крышкой или фольгой и дайте отдохнуть минуты четыре.Подавая стейки, полейте их соками, скопившимися на дне формы и приправьте свежемолотым черным перцем. Гарнир и соус к стейкам необязательны, главное — иметь под рукой достаточно острые ножи без зазубрин, а также напитки, подходящие случаю и благородному мясу, которое оказалось у вас на тарелках.
            </p>
        </div>
    </div>

