@{
    ViewBag.Title = "SearchRecipe";
}


<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/SerchCss2.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Content/RecipeCss.css" rel="stylesheet" />
</head>

<body>
    <div class="commonDiv">
        <h2>Поиск по набору продуктов</h2>
        <div style="border: 2px solid #E6E6E6; padding: 8px;">
            <div class="container" style="display: flex;margin-top:35px">
                <div class="search" style="display: flex;">
                    <form autocomplete="off" action="/action_page.php">
                        <div class="autocomplete" style="width:300px;">
                            <input id="productInput" type="text" name="myCountry" placeholder="Продукт...">
                        </div>
                    </form>
                    @*//<input id="productInput" type="text" value="" style="font-size: 16px;height: 35px;margin-right: 1px;" class="form-control input-sm" maxlength="64" placeholder="Имя продукта..." />*@
                    <input type="button" style="margin-left: -3px;font-size: 16px;" value="Добавить продукт к поиску" class="btn btn-primary btn-sm" onclick="addProductToTable()" />
                    <input type="submit" style="margin-left:5px;font-size: 16px; background-color:#58b957;border-color: #58b957;" value="Искать" class="btn btn-primary btn-sm" id="ajaxSearch" />
                </div>
            </div>

            <div class="tableDiv" style="margin-left: 15px;">
                <table id="productsTable" class="table" style="max-width: 40%; margin-top: 20px;">
                    <thead>
                        <tr><th>Набор продуктов</th></tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </div>

        <div id="searchResult" style="font-size:23px;">

        </div>

        <div id="loading"><img style="" src='@Url.Content("~/Content/Load.gif")'></div>
    </div>


<<<<<<< HEAD

=======
>>>>>>> e8d836d... fix advenced searching
</body>
</html>

<style>
    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 10px;
        font-size: 16px;
    }

        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }

        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
        }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
        overflow-y: scroll;
        max-height: 205px;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<script src="~/Content/HalfSearch.js"></script>
<script>
    $('div#loading').hide();

    function addProductToTable() {

        var element = document.getElementById("productInput");
        var productName = element.value;

        var table = document.getElementById("tableBody");
        var row = table.insertRow(0);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);

        cell1.innerHTML = productName;
        cell2.innerHTML = "<input type='button' value='&#10060' style='background-color:#ed5e68; margin-bottom:3px'  id='deleteButton' class='btn btn - primary btn - sm' onclick='removeProduct(this)'>";
    }

    var arr = [];
    function removeProduct(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("productsTable").deleteRow(i);
        arr.pop(i);
    }


    $('#ajaxSearch').click(function () {
        $('div#loading').show();
        var table = document.getElementById('tableBody');
        for (var r = 0, n = table.rows.length; r < n; r++) {
            arr.push(table.rows[r].cells[0].innerHTML)
        }
        $.ajax({
            type: "POST",
            url: "/Home/SerchByArray",
            data: JSON.stringify(arr),
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            success: successFunc,
            error: errorFunc
        });
<<<<<<< HEAD



=======
        
>>>>>>> e8d836d... fix advenced searching
    });

    function successFunc(data, status) {
        console.log(data);
        arr = [];
        $('#searchResult').html(data);
        $('div#loading').hide();
    }


    function errorFunc(errorData) {
        arr = [];
        var elem = document.getElementById("searchResult");
        elem.innerHTML = "<label>По заданному набору продуктов ничего не найдено.</label>";
        $('div#loading').hide();
    }


    var page = 0;
    var _inCallback = false;
    function loadItems(data) {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;

            if (data != '') {
                $("#searchResult").append(data);
            }
            else {
                page = -1;
            }
            _inCallback = false;
        }
    }




</script>




