@model  BLL.DTO.UserDTO

@{
    ViewBag.Title = "UsersProfile";
}

<h2>User profile</h2>

<div class="user">
    <div><img src="~/Content/flat,1000x1000,075,f.u5.jpg" /></div>
    <div class="usersInfo">
        <span class="name">@Html.DisplayFor(model=>model.Name) </span>
        <span class="email">@User.Identity.Name</span>
    </div>
    <div class="settings">
        <input type="submit" value="Edit" />
        <input type="submit" value="Delete account" />
    </div>
    <div class="usersRecipes">
      
        @Html.Action("GetUsersRecipes");

    </div>
</div>



